<h1>Please enter your details to sign in.</h1>

<form action='/users/sign_in' method='post'>
  Email:            <input type='text' name='email'><br>
  Choose Password:  <input type='text' name='password'><br>
                    <input type='submit' value='Sign in'>
</form>