<h1>Please enter your details to register.</h1>

<form action='/users/sign_up' method='post'>
  Name:             <input type='text' name='name'><br>
  Email:            <input type='text' name='email'><br>
  Choose Password:  <input type='password' name='password'><br>
  Confirm Password: <input type='password' name='password_confirmation'><br>
  Choose Username:  <input type='text' name='username'><br>
                    <input type='submit' value='Submit Details'>
</form>